:root {
    --blue-100: #cfdced;
    --blue-300: #8eadd5;
    --blue-500: #5a87c2;
    --gray-100: #ffffff;
    --gray-300: #dedcdb;
    --gray-500: #b4afad;
    --black-100: #313846;
    --black-300: #272d38;
    --black-500: #1f242d;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-family: 'Inter', sans-serif;
}
ul,
ol {
    list-style: none;
}
a {
    text-decoration: none;
    color: var(--black-300);
}
/* Header */

/* Main */

/* Footer */
.footer {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    gap: 178px;
    min-height: 424px;
    padding: 104px 80px;
    font-size: 1.6rem;
    font-weight: 300;
    color: var(--black-300);
    background-color: var(--blue-300);
}

.container h4{
    font-weight: 700;
    font-size: 1.6rem;
    margin-bottom: 32px;
}

.container li{
    margin-bottom: 24px;
}

@media (max-width: 1200px) {
    .footer {
        gap: 100px;
    }
}

@media (max-width: 960px) {
    .footer{
        padding: 72px 60px;
        gap: 72px;
    }

    .container {
        width: 90%;
        max-width: 240px;
        min-width: 188px;
        text-align: center;
    }

}
